
@inject TheBlogProject.Services.IImageService imageService
@model TheBlogProject.Models.Post

@{
    ViewData["Title"] = "Details";
}

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</article>

<hr />
<article>
    <div class="row">
        <div class="col text-center h3 font-weight-bold">
            Custom Post Tags
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            @foreach (var tag in Model.Tags)
            {
                <a class="btn btn-warning btn-sm btn-outline-dark" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
            }
        </div>
    </div>
</article>

<hr />

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-action="Create" asp-controller="Comments" method="post">
            @Html.Hidden("PostId", Model.Id)

            <div class="form-group">
                <label class="h2 font-weight-bold">Add Comment</label>
                <textarea name="body" class="form-control" rows="10"></textarea>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-dark btn-sm">Submit</button>
            </div>

        </form>
    }
    else
    {
        <div class="d-grid">
            <a class="btn btn-sm btn-dark" asp-area="Identity" asp-page="/Account/Login" asp-route-ReturnUrl="~/Posts/Details?slug=@Model.Slug">Login to add comment</a>
        </div>
    }
</div>

<hr />

<div class="d-grid">
    <span class="btn btn-sm btn-dark">@Model.Comments.Count COMMENTS(S)</span>
</div>

@foreach (var comment in Model.Comments)
{
    <div class="d-flex">
        <img src="@imageService.DecodeImage(comment.Author.Image, comment.Author.ContentType)"
             class="me-3 rounded-circle"
             style="width: 60px; height: 60px;" />
        <div>
            <h4 class="fw-bold">
                @comment.Author.FullName
                <small class="text-muted"><i>Posted on @comment.Created.ToString("dd MMM yyyy")</i></small>
            </h4>
            <p>@comment.Body</p>
        </div>
    </div>

}


<div>
    <a asp-action="Index">Back to List</a>
</div>
<!--Displaying Comments related to this Post-->
<!--Displaying the image of the Comment's Author-->